.dark-mode-icon {
  display: flex;
  color: var(--theme-white-500);
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: color 250ms ease-in-out;

  &:hover, &:focus {
    color: var(--theme-white-100);
  }
  // &.theme_dark {
  //   color: var(--color-1);
  // }
  // &.theme_light {
  //   color: var(--color-1);
  // }
}
