.basicui-dark {
    .basicui-input {
        background-color: var(--theme-primary-transparent-50);
        border-color: var(--theme-primary-600);
    }
    .basicui-input:hover,
    .basicui-input:focus,
    .basicui-input:active {
        background-color: var(--theme-primary-transparent-300);
        border-color: var(--theme-primary-700);
    }
}